<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Electricity Tracker</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="grid.css">
</head>
<body>
	<div class="container" >

		<div class="nav">
			<ul>
				<li><a href="/appliances">Appliance Costs</a></li>
				<li><a href="/meters/{{id}}">Street Meters</a></li>
				<li ><a href="/streets">Streets</a></li>
				<li><a href="/topups">TopUp Street</a></li>
				<li><a href="/use_electricity">Street Usage</a></li>
			</ul>

		</div>
		<h1 class="center heading">Electricity Topup Tricks</h1>
		{{{body}}}
	</div>
</body>
</html>