<section class="container">
    <h2 class="sub center">Appliances</h2>

<table class="center words">
   
         <tr>
        <th>Names</th>
        <th>Rates</th>
    </tr>
   
    {{#each appliances}}
    <tr>

        <td>{{name}}</td>
        <td>{{rate}}</td>
    </tr>
            {{/each}}
</table>
</section>